%h1.first About Us
%p
  In the early 1960's Audrey Leibold and her family moved to Hanford. They
  liked the schools, people and area in general, but Audrey soon realized
  that the community did not have a theatre. She quickly set forth to fix
  that little problem. By running ads in the local papers she found others
  who shared her dream. In 1963 the Kings Players was born. At first they
  performed in the auditorium at Hanford High. Audrey knew they needed to
  find a permanent home. In early 1964, she found the Chinese Center for
  Knowledge, a Chinese school that had been closed since the late 40's.
  The Kings Players had found a home, and have been in the Temple Theater
  ever since.
%p
  Board meetings are held on the 3rd Monday of every month at 6:30 PM
  = "#{link_to 'at the theater', '/directions/'}."
  General membership and the public are always invited.
%p
  %strong Board of Directors:
%ul
  %li Patti Davis - President
  %li Charmayne Huntley - Vice President
  %li Debra Stimpson - Treasurer
  %li Kim Spicer - Secretary
  %li Glen Myers
  %li Wayne Tilley
  %li Debra Gaske
  %li Duffy Caskey
  %li Tim Huntley
  %li Wyleen Luoma
  %li Louis Emery
  %li Robert Davis
