%h1.first Directions
%p
  The Temple Theater is located just east of China Alley in Hanford,
  California, at 514 East Visalia Street. We are one block due west of
  Valley Pool and Spa. You can also call us for directions at
  (559) 584-7241.
%p
  = '<iframe width="625" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=temple+theater+near+hanford,+ca&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=46.543597,93.076172&amp;ie=UTF8&amp;hq=temple+theater&amp;hnear=Hanford,+Kings,+California&amp;ll=36.32833,-119.63889&amp;spn=0.006295,0.014948&amp;t=h&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=temple+theater+near+hanford,+ca&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=46.543597,93.076172&amp;ie=UTF8&amp;hq=temple+theater&amp;hnear=Hanford,+Kings,+California&amp;ll=36.32833,-119.63889&amp;spn=0.006295,0.014948&amp;t=h" style="color:#0000FF;text-align:left">View Larger Map</a></small>'