-content_for :title do
  Page Not Found
%h1.first Missed Cue
%p
  Looks like the page you requested missed its cue &#8211; it's nowhere to be found!
  Perhaps what you're looking for is on the <a href="/">home page</a>?</p>
