-content_for :title do
  Tickets
%h1.first Tickets
%p
  Tickets are
  %strong $10.00 for adults
  and
  %strong $8.00 for seniors and students.
%h1 Showtimes
%p
  Shows on Tuesday through Saturday start at
  %strong 7:30 PM;
  Sunday shows start at
  %strong 2 PM
  unless otherwise noted.
%p
  The box office and doors to the theater will open
  %strong a half hour before show time.
%h1 Reservations
%p
  For ticket reservations, please call
  %strong (559) 584-7241
  and leave a message. Please
  %strong SLOWLY
  and
  %strong CLEARLY
  state:
%ol
  %li
    The show name, date, and time. Keep in mind we sometimes work multiple
    shows, multiple days.
  %li
    Your name; spelling it slowly helps as well.
  %li
    The number in your party and seat preferences (aisle, front, back, etc.)
  %li
    Your phone number, again
    %strong slowly.
%p
  We will call you back to confirm your reservations. Reserved seats will be
  held until
  %strong 5 minutes before show time
  and then they will be released. Please call us if you are going to be late.
%h1 Season Tickets
%p
  The Kings Players invite you to become a season member!
%ul
  %li Demi: $18.00 - Two admissions to performance(s) of your choice
  %li Single Member: $32.00 - Four admissions to the performance(s) of your choice.
  %li Regular Member: $64.00 - Eight admissions to the performance(s) of your choice.
  %li Patron: $105.00 - Fifteen admissions to the performance(s) of your choice.
  %li Donor: $210.00 - Thirty admissions to the performance(s) of your choice.
  %li Angel: $560.00 - Reserve the entire house for a performance of your choice.
%p
  Call (559) 584-7241.