%h1.first Volunteer
%p
  The Kings Players invite volunteers to participate in every area of
  production, theatre support &amp; maintenance. Basic instruction and
  guidance is offered to every volunteer.
%p
  Backstage activities are offered at all skill levels and include:
%ol
  %li Directing
  %li Stage managing
  %li Sewing
  %li Painting
  %li Carpentry
  %li Prop management
  %li Costume design
  %li Sound and light board operation
%p
  Front of house activities include:
%ol
  %li Box office
  %li House management
  %li Hosting
%p
  Volunteers are also needed to serve on the
  %strong board of directors, various committees
  and to assist with
  %strong marketing
  and
  %strong fundraising.
%p
  On stage, we are always looking for talent of any type:
  %strong actors, singers, dancers,
  you name it. Anyone interested in volunteering at the Temple Theatre can
  call (559) 584-7241 and leave a message describing your interests and we
  will make sure the right person gets back to you! Or visit a board meeting,
  held the 3rd Monday of each month at 6:30 PM
  = "#{link_to 'at the theater', '/directions/'}!"
%p
  %strong
    The Kings Players welcomes all volunteer involvement and is a
    volunteer-driven community theatre.